[Desktop Entry]
Type=Application
Name=ECY Cloud 网络助手
Comment=ECY Cloud 网络加速客户端
Exec=/opt/ecycloud/ECYCloud
Icon=com.ecycloud.client
Terminal=false
Categories=Network;
StartupWMClass=ECYCloud
