Package: ecycloud
Version: APP_VERSION
Architecture: APP_ARCH
Maintainer: ECY Cloud <support@ecycloud.com>
Depends: libgtk-3-0, libayatana-appindicator3-1, libsecret-1-0, iproute2, gsettings-desktop-schemas, libmpv2 | libmpv1
Section: net
Priority: optional
Homepage: https://github.com/ECYCloud/ECYCloudClient
Description: ECY Cloud
 基于 mihomo 内核的 ECY Cloud 客户端，含特权后台服务。
